html {
  height: 100%;
	margin: auto 0;
}
body{

  background: url(a.jpg) no-repeat center center fixed; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}



.grid-wraper {
    display: grid;
    grid-template-columns:auto 10px;
    
}
img {
    width: 100%
    height:50%;
}


h1 {
  color: #2c639ab8 !important;
  font-family: sans-serif 'raleway';
  font-style: italic;
  font-size: 4em;

  
  
  text-align: center;
  
}
.btn{
  border-radius: 200px !important;
  color: #0a8ef1;
  border-color: chocolate !important;
  font-family: "raleway" sans-serif !important;
  font-size: 3rem;
  padding: 1rem,2rem !important;

text-transform: uppercase;
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}












img {
	direction: inline;
	width: 100%;
	height: 500px;
	margin: 0px;
	transition: all 0.5s;
}

img:hover {
	transform: scale(1.1);
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.footer{
  
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
	height: 50px;
	background-color: #2e77bf;
	text-align: left;
	width: 100%;
  }

